.shepherd-content {

    .shepherd-text,
    .shepherd-text a {
        color: #423e3c;
    }

    .shepherd-text a {
        text-decoration-color: #d73f09;
        text-decoration-thickness: 10%;
        text-underline-offset: 2px;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:active {
            background-color: #212529;
            color: #fff;
        }
    }
}